* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.txn {
  width: 80%;
  margin: 20px;
}
.category {
  width: 20%;
  margin: 20px;
}

.txn-table {
  display: flex;
  flex-flow: column nowrap;
  font-size: 0.8rem;
  margin: 0.5rem;
  line-height: 1.5;
  flex: 1 1 auto;
}

.txn-header {
  display: none;
  font-weight: 700;
  background-color: #f2f2f2;
}

.txn-header > .txn-data {
  white-space: normal;
}

.txn-row {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
}

.txn-row:nth-of-type(even) {
  background-color: #f2f2f2;
}

.txn-row:nth-of-type(odd) {
  background-color: #ffffff;
}

.txn-row:hover {
  color: #00a07b;
}

.txn-data {
  display: flex;
  flex-flow: row nowrap;
  flex-grow: 1;
  flex-basis: 0;
  padding: 0.5em;
  word-break: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  min-width: 0px;
  white-space: nowrap;
  border-bottom: 1px solid #d0d0d0;
}
button {
  cursor: pointer;
  border-radius: 4px;
  color: #333;
  display: block;
  width: 100%;
}
button:hover {
  transform: scale(1.2);
}

.add-data:hover {
  transform: scale(1.2);
}
